<footer class="mt-4 pt-4 ">
    <div class="container border-top">
        <div class="row">
            <div class="col-12 col-md">
                <h5>E-Lectronique</h5>
                <ul class="list-unstyled">
                    <li><a href="#" >{{'footer.mention' | translate}}</a></li>
                    <li><a href="#" >{{'footer.politique' | translate}}</a></li>
                    <li><a href="#" >{{'footer.plan' | translate}}</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>{{'footer.categorie' | translate}}</h5>
                <ul class="list-unstyled">
                    <li><a href="#" >{{'article.telephone' | translate}}</a></li>
                    <li><a href="#" >{{'article.ordinateur' | translate}}</a></li>
                    <li><a href="#" >{{'article.electromenager' | translate}}</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>{{'footer.communaute' | translate}}</h5>
                <ul class="list-unstyled">
                    <li><i class='bx bxl-facebook-square' ></i><a href="#" >Facebook</a></li>
                    <li><i class='bx bxl-twitter' ></i><a href="#" >Twitter</a></li>
                    <li><i class='bx bxl-instagram' ></i><a href="#" >Instagram</a></li>
                    <li><i class='bx bxl-linkedin-square' ></i><a href="#" >LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <i class='bx bx-map'></i>
            <span class="m-1">{{'footer.centre' | translate}}</span>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <i class='bx bx-phone-call'></i>
            <span class="m-1">04 90 42 26 46</span>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #e3f2fd;">
        <div class="row">
            <div class="col d-flex align-items-center justify-content-center">
                <i class='bx bx-copyright mr-1'></i>
                <p class="m-0">2022</p>
            </div>
        </div>
    </div>
</footer>
