<br>
<div class="d-flex justify-content-center align-items-center ">

    <div class="m-1 p-1" style="width: 22rem;">

        <div class="card-body">
            <h2 class="d-flex justify-content-center align-items-center card-text">
                 {{'valider.felicitation' | translate}}
                {{commande.client.prenom }}
                {{commande.client.nom }}
                <br>
                {{'valider.valider' | translate}}
                <br>
                {{'valider.montant' | translate}}
                {{commande.prixTotal }}
                {{'valider.euro' | translate}}
                <br>
                {{'valider.envoi' | translate}}
                {{commande.client.adresse }}
            </h2>
        </div>
    </div>
</div>
