<div class="commandes m-5">
    <table class="table table-striped table-bordered col-11">
        <tr>
            <th>
                {{'article.identifiant'|translate}}
            </th>
            <th>
                {{'article.nom'|translate}}
            </th>
            <th>
                {{'article.description'|translate}}
            </th>
            <th>
                {{'article.tarif'|translate}}
            </th>
            <th>
                {{'article.categorie'|translate}}
             </th>
            <th>
                {{'article.image'|translate}}
            </th>
            <th>
            </th>
        </tr>

            <tr *ngFor="let article of articles"> 
                <td>
                    {{article.id}}
                </td>
                <td>
                    {{article.nom }}
                </td>
                <td>
                    {{article.description }}
                </td>
                <td>
                    {{article.tarif}}
                </td>
                <td>
                    {{article.categorie }}
                </td>
                <td><img [src]="article.retrievedImage"
                    class="rounded mx-auto d-block" alt="...">
                </td>
                <td>
                    <button class="btn btn-primary bg-primary"  (click)="modifier(article)">{{'article.modifier' |
                        translate}}</button>
                    
                </td>
                <td>
                    <button class="btn btn-primary bg-primary"  (click)="supprimer(article)">{{'article.supprimer' |
                        translate}}</button>
                </td>
            </tr>


    </table>
</div>
