
<table class="table mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th> 
        <th scope="col">Id article</th>
        <th scope="col">Quantite</th>
        <th scope="col">Prix</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let list of listCommande">
            <tr class="table-primary">
                <td colspan="3">{{list.date}}</td>
                <td>{{list.prixTotal}}</td>
            </tr>
                <ng-container *ngFor="let lignes of list.lignes; let isFirst = first;">
                    <tr>
                        <td></td>
                        <td>{{lignes.id}}</td>
                        <td>{{lignes.quantite}}</td>
                        <td>{{lignes.prix}}</td>
                    </tr>
                </ng-container> 
                
            
        </ng-container> 
    </tbody>
  </table>