
<table class="table mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{{'panier.date' | translate}}</th> 
        <th scope="col">{{'panier.articles' | translate}}</th>
        <th scope="col">{{'panier.quantite2' | translate}}</th>
        <th scope="col">{{'panier.prix' | translate}}</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let list of listCommande">
            <tr class="table-primary">
                <td colspan="3" class="font-weight-bold">{{list.date}}</td>
                <td class="font-weight-bold">{{list.prixTotal}}</td>
            </tr>
                <ng-container *ngFor="let lignes of list.lignes">
                    <tr>
                        <td></td>
                        <td>{{lignes.article.nom}}</td>
                        <td>{{lignes.quantite}}</td>
                        <td>{{lignes.prix}}</td>
                    </tr>
                </ng-container> 
                
            
        </ng-container> 
    </tbody>
  </table>