.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selection {
    margin-left: 2%;
    margin-top: 2%;
}
@media screen and (min-width: 801px) {
    .ligne {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    .titrecomm{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 800px) {
    .ligne {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 0px;
        margin: 0px;
    }
    .titrecomm {
        font-size: 1em;
    }
    [class^='col']{
        margin: 0;
        padding: 0;
    }

}



.viderPanier {
    margin-top: 3%;
}

.validerPanier {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    justify-content: flex-end;
}